
# Visual Studio project and build files
x64/
.vs/
*.sln
*.vcxproj
*.filters
*.user

# Third-party libraries
Src/Core/ThirdParty/

Src/Core/Dependencies/**/.git/
Src/Core/Dependencies/**/.gitignore
Src/Core/Dependencies/**/.gitattributes

# CMake output
out/

# SPIR-V compiled shaders
*.spv

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Blender project files
*.blend
*.blend1
